/* You can add global styles to this file, and also import other style files */
body {
    padding: 0px;
    margin: 0px;
    height: 10000px;
    background-color: #F5F7F7;  
}

.gs-flex-centered-hv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.CodeMirror {
    border: 1px solid #eee;
    height: auto;
  }
  .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }*/


  /* Overriding primeng styles  FIXME*/
  a, .ui-accordion-header-text {
    text-decoration: none !important;
  }